---
---

<div class="main">
  <h1>Podmind Test</h1>
  <script async src="https://podmind.voxgig.com/widget/voxgig-podmind-ask.js" is:inline></script>

  <voxgig-podmind-ask
    apikey="your-api-key"
    debug="true"
  >
  </voxgig-podmind-ask>
</div>

<style>
	.main {
    display: flex;
    flex-direction: column;
    align-items: center
	}
</style>
