---
import PodW from "@voxgig/podw-astro"
---

<div class="main">
  <h1>Podmind Test</h1>

  <PodW apikey="your-api-key" />
</div>

<style>
	.main {
    display: flex;
    flex-direction: column;
    align-items: center
	}
</style>
