---
import PodW from "@voxgig/podw-astro"
---

<div class="main">
  <h1>Podmind Test</h1>
  <script async src="https://podmind.voxgig.com/widget/voxgig-podmind-ask.js" is:inline></script>

  <PodW apikey="your-api-key" />
</div>

<style>
	.main {
    display: flex;
    flex-direction: column;
    align-items: center
	}
</style>
